body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}
.buscando{ display: none;}
.table-info{margin-bottom: 21px}
.table-info .table-header{background: #59c4e4}
.table-info .table-header, .table-info thead, .table-info thead th, .table-info thead tr{border-color: #37a7c8 !important;
color: #fff; background: #59c4e4}
.table-header{border-bottom: none;
border-top-right-radius: 2px;
border-top-left-radius: 2px}
.table-footer, .table-header{position: relative;
padding: 10px 15px;
border: 1px solid rgba(0, 0, 0, .05);
background: 0 0;}
.table-caption{font-size: 15px; font-weight: 600;}
.table-info .table, .table-info.table{margin: 0;
border-top-color: #37a7c8 !important}
.table-footer{min-height: 40px;
border-top: none;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px}
.table-info, .table-info>td, .table-info>th{background-color: white !important;}
@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
